/*
Theme Name: Twenty Thirteen Child
Template: twentythirteenParent
Author: Lei He, Rodrigo Dias
Version: 0.1
Text Domain: duckjoy
*/
@import url("style-overload.css");
@import url("typography.css");


body{
	min-width:1065px;
	-webkit-font-smoothing: antialiased;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
.clearfix {
	display: inline-block;
	clear: both;
}
#page {
 	max-width: 1064px !important;
	width: 100%;
	background-color: #f75959;
	padding-top: 20px;
	margin: 0 auto;
	border-left: 20px solid #f75959;
	border-right: 20px solid #f75959;
}
#main {
	width: 100%;
	background-color: white;
}
.site-main,
.site-footer {
	background-color: #f75959;
}
#masthead.site-header .site-branding {
	height: 80px;
}
#masthead.site-header .site-branding #weibobutton {
	float: left;
	padding-left: 20px;
}
#masthead.site-header .site-branding #searchbox {
	float: left;
	margin-left: 40px;
	border: 2px dashed white;
}
#masthead.site-header .site-branding #login {
	float: right;
	padding-right: 20px;
}
#masthead.site-header .navbar {
	position: relative;
	top: 7px;
}
#masthead.site-header .navbar .main-navigation {
	margin: 0 auto;
	min-height: 45px;
}
#masthead.site-header .navbar .main-navigation .nav-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#masthead.site-header .navbar .main-navigation .nav-menu li {
	display: inline;
}
#masthead.site-header .navbar .main-navigation .nav-menu li a {
	color: #141412;
	font-size: 24px;
	line-height: 1;
	margin: 0 auto;
	text-decoration: none;
	padding: 10px 19px;
	color: white;
}
#masthead.site-header .navbar .main-navigation .nav-menu .current_page_item a {
	background-color: white;
	color: #f75959;
}
footer a :hover {
	text-decoration: none;
	color: white;
}
footer a :link {
	text-decoration: none;
	color: white;
}
footer a :visited {
	text-decoration: none;
	color: white;
}
footer #footer-info {
	overflow: auto;
	color: white;
	font-size: 11px;
	line-height: 23px;
	padding-top: 50px;
	padding-bottom: 30px;
}
footer #footer-info #footer-address {
	float: left;
}
footer #footer-info #footer-images {
	float: left;
	padding-left: 50px;
}
footer #footer-info #footer-other-info {
	float: right;
	text-align: right;
}

footer #footer-info #footer-images {
float: left;
padding-left: 50px;
padding-top:35px !important;
margin-left:20px;
}

footer #footer-other-info a{ color: white;}






div.mc-caption a {
font-size: 18px;
color: rgb(51,51,51) !important;
text-decoration: none;
margin-left: 36px;
position: absolute;
margin-top:2px;
font-family: "Comic Sans MS", cursive;
}

#pics_container .pic1 {
height: 102px;
width: 134px;
background-color: #CC9900;
position: absolute;
}

#pics_container .pic2 {
height: 214px;
width: 134px;
margin-left: 140px;
position: absolute;
margin-top: 0px;
background-color: #33CC66;
}

#pics_container .pic3{
height: 102px;
width: 134px;
margin-left: 0px;
position: absolute;
margin-top: 112px;
background-color: #330066;
}

#pics_container .pic4 {
height: 102px;
width: 134px;
margin-left: 0px;
position: absolute;
margin-top: 224px;
background-color: #330066;
}

#pics_container .pic5 {
height: 102px;
width: 134px;
margin-left: 140px;
position: absolute;
margin-top: 224px;
background-color: #3366CC;
}
#pics_container img{width:100%; height:100%;}

#pics_container{height: 327px;
width: 283px;
}


#pics_container1 img{width:100%; height:100%;}

#pics_container1 {
height: 380px;
width: 253px;
}

#pics_container1 .pic1 {
height: 120px;
width: 134px;
background-color: #CC9900;
position: absolute;
}
#pics_container1 .pic2 {
height: 250px;
width: 134px;
margin-left: 140px;
position: absolute;
margin-top: 0px;
background-color: #FF0033;
}
#pics_container1 .pic3 {
height: 120px;
width: 134px;
margin-left: 0px;
position: absolute;
margin-top: 130px;
background-color: #00CCFF;
}
#pics_container1 .pic4 {
height: 120px;
width:274px;
margin-left: 0px;
position: absolute;
margin-top: 260px;
background-color: #00CCFF;
}

#top_picture_1, #top_picture_2, #top_picture_3, #top_picture_4 {
max-width:100% !important;
max-height:100% !important;
}
#top_picture_5 {
max-width:100% !important;
max-height:100% !important;
}

#recommendationtitle {
height: 50px;
width: 240px;
position: absolute;
font-size: 28px;
color: rgba(255,255,255,1);
text-align: center;
z-index: 99999;
word-spacing: 8px;
vertical-align: bottom;
padding-top: 0px;
font-family: "Comic Sans MS", cursive;
margin-left: -31px;
margin-top: -16px;
}

#recommendationslider{margin-top:32px;}





#tabs { padding: 0px; background: none; border-width: 0px;} 

#tabs .ui-widget-header { background: transparent; border: none; border-bottom: 1px solid #c0c0c0;} 
#tabs .ui-widget-header {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; padding-bottom: 5px;}
#tabs .ui-tabs-nav .nav* { outline: none;}
#tabs .ui-tabs-nav .ui-state-default { background: #ccc; border: none; }
#tabs .ui-tabs-nav .ui-state-active { background: none; border: none; }
#tabs .ui-tabs-panel { background: none; border-width: 0px 1px 1px 1px; }
#tabs li a{ outline-color: transparent;}​

.entry-thumbnail, .thumbnail{ text-align: center !important;}
.entry-thumbnail>img, .thumbnail>img {max-width: 590px !important; padding: 10px !important;}



img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}

.last-menu-item{padding-left: 6px;}
.visa-menu{padding-left: 6px;}

/*main menu shared*/
/*#login{font-size:16px !important; color:#fff !important;}
#magnifier_glass{float:left;}
.menu-logo{width:300px !important; height:40px !important;}
.menu-logo a{width:300px !important; height:40px !important; text-indent:-999em !important;  display:block;  background:url(<?php bloginfo( 'stylesheet_directory' ); ?>/img/logo_common.jpg) no-repeat center 0 !important;  }
.menu-logo a:hover{border:none !important; display:block;}
#masthead.site-header .navbar .main-navigation .nav-menu li {display: inline;float: left;}
#masthead.site-header .navbar .main-navigation .nav-menu li a {padding: 10px 16px !important;}
#searchbox input {height: 22px !important;width: 145px !important;float:left;border: 2px #fff !important;color:#000 !important;background:none; margin:0;}
.visa{padding-left: 6px;}
.last-menu-item{padding-left: 6px;}
*/















