@font-face {
  font-family: "YouYuan";
  src: url("simyou.ttf");
}
body {
  color: black;
  /*font-family: YouYuan, "幼圆", "黑体", "Comic Sans MS", cursive;*/
  font-family: "Comic Sans MS", cursive;
  /*font-weight: lighter;*/
  font-size: 12px;
}
#login {
  color: white;
}
#login a,
#login a:hover,
#login a:active,
#login a:link,
#login a:visited {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.content_color {
  color: #000000;
}
.entry-title,
.entry-content,
.post-list {
  color: #000000;
}
.entry-title a,
.entry-content a,
.post-list a {
  color: #000000;
}
.entry-content {
  margin: 0;
}
.page-numbers {
  color: #000000;
}
.page-numbers .current {
  color: #000000;
}
.page-numbers .next {
  color: #000000;
}
