/* ´úÂëÕûÀí£ºÀÁÈËÖ®¼Ò lanrenzhijia.com */
* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px Georgia, serif;
}
html {
	overflow-y: scroll;
}
a {
	text-decoration: none;
}
a:focus {
	outline: 0;
}
p {
	font-size: 15px;
	margin: 0 0 15px 0;
}
#page-wrap {
	width: 602px;
	
}
/* Generic Utility */
.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
/* Specific to example one */

/* Specific to example two */

#tuangoutab .list-wrap {
	background-color: #FFF;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(204,204,204);
	border-right-color: rgb(204,204,204);
	border-bottom-color: rgb(204,204,204);
	border-left-color: rgb(204,204,204);
	margin-top: 5px;
	margin-right: 0;
	margin-left: 0;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#tuangoutab ul {
	list-style: none;
	border-top-width: thick;
	border-top-style: none;
	border-top-color: rgb(255,0,0);
	border-bottom-width: 2px;
	border-bottom-style: none;
	border-bottom-color: rgb(204,204,204);
}
#tuangoutab ul li a {
	display: block;
	padding: 4px;
	color: #666;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border: medium none #CCC;
	background-color: rgb(204,204,204);
}
#tuangoutab ul li a:hover {
	background: #333;
	color: white;
	text-decoration: none;
}
#tuangoutab ul li:last-child a {
	border: none;
}

#tuangoutab .nav {
	overflow: hidden;
}
#tuangoutab .nav li {
	width: 97px;
	float: left;
	margin: 0 10px 0 0;
}
#tuangoutab .nav li.last {
	margin-right: 0;
}
#tuangoutab .nav li a {
	display: block;
	padding: 5px;
	color: rgb(51,51,51);
	font-size: 16px;
	text-align: center;
	border: medium none rgb(204,204,204);
	background-color: #CCC;
}
#tuangoutab li a.current, #tuangoutab li a.current:hover {
	background-color: #FFF !important;
	color: black;
}
#tuangoutab .nav li a:hover, #tuangoutab .nav li a:focus {
	background-color: #333;
}

#Wrapper #container #main #topleft #maintabcontent #page-wrap #tuangoutab .list-wrap #tab1 p {
	font-size: 14px;
	padding-left: 100px;
	margin-top: -23px;
}
#Wrapper #container #main #topleft #maintabcontent #page-wrap #tuangoutab .list-wrap #tab1 h4 {
	font-size: 16px;
}