@charset "UTF-8";
/* CSS Document */

/*Basics*/
p{
	margin: 0px;
	padding: 0px;
}



#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
}

#Wrapper #container {
	width: 1064px;
	font-family: "Yuppy SC Regular";
	height: 1523px;
	position: absolute;
}


/*Main*/
#Wrapper #container #main {
	width: 1064px;
	height: 1523px;
	overflow: auto;
	background-image: url('/img/contactbg3.jpg');
}




#Wrapper #container #main #uppertext {
	font-size: 24px;
	color: rgb(238,157,6);
	height: 100px;
	width: 600px;
	margin-top: 447px;
	margin-left: 137px;
	line-height: 20px;
	text-align: justify;
}

#Wrapper #container #main #formWrapper {
	margin-top: 170px;
	margin-left: 97px;
	line-height: 20px;
}

#formWrap {
	width:720px;
	margin-top:40px;
	margin-left: 30px;
	background:#FFF;
	padding: 16px 10px 40px;
}

#formWrap #form {
	border-top:1px solid #EEE;
	width:720px;
}

#form .row {
	border-bottom:1px dotted #EEE;
	display:block;
	line-height:38px;
	overflow:auto;
	padding:24px 0px;
	width:100%;
}

#form .row .label {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	width: 180px;
	text-align: right;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	color: #f75959;
}

#form .row .input {
	float: left;
	margin-right: 10px;
	width: 285px;
	
}

#form .row .input2 {
	float:left;
	margin-right:10px;
	width:466px;
}


.detail{
	width:260px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	padding: 7px 8px;
	margin:0;
	display:block;	
	border-radius: 5px 5px 5px 5px;
	border: 3px solid rgb(238,157,6);
}
#Wrapper #container #main #uppertext ul {
	margin: 0px;
	padding: 0px;
	float: left;
}
#Wrapper #container #main #uppertext ul li {
	display: block;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.detail:focus {
	background-color: #FFF;
	border:3px solid #999;
	outline:none;
}

.mess{
	width: 450px;
	max-width:450px;
	height:280px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding: 7px 8px;
	line-height: 1em;
	margin:0;
	display:block;
	border-radius: 5px 5px 5px 5px;
    border: 3px solid rgb(238,157,6);}

.mess:focus {
	background-color: #FFF;
	border:3px solid #999;
	outline:none; 
}

#form .row .context {
	color:#999;
	font-size:11px;
	font-style:italic;
	line-height:14px;
	font-family:Arial, Helvetica, sans-serif;
	width:200px;
	float:left;
}

#form #submit {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 25px;
	margin-left: 200px;
	color: #FFF;
	font-size: 16px;
	text-shadow: 1px 1px 1px #999;
	padding: 7px;
	background-color: rgb(238,157,6);
	border-radius: 5px 5px 5px 5px;
    border: 3px solid rgb(238,157,6);
}

span.error{
	color:#000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-image:url(img/x.png);
	background-repeat:no-repeat;
	background-position:left 6px;
	padding-left:25px;
}

#formWrap h2{
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #CCC;
	color: rgb(238,157,6);
	margin-left: 0px;
}
