@charset "UTF-8";



/*#Wrapper #container #main #topleft #headlinelist #tab ul li a:link{
	color: rgb(51,51,51);
	text-decoration: none;
}

#Wrapper #container #main #topleft #headlinelist #tab ul li a:hover{
	text-decoration: none;
	color: rgb(154,38,37);
}

#Wrapper #container #main #topleft #headlinelist #tab ul li a:visited{
	color: rgb(51,51,51);
	text-decoration: none;
}*/

.news-table {border-collapse:collapse;border:solid #6AA70B;border-width:0px 0 0 0px;width:100%;}

.news-table ul li {
	padding-top: 5px;
	text-indent: 2em;
	list-style: none;
	font-family: "Verdana,宋体";
	font-size: 14px;
	color: #333333;
	text-align: left;
	height: 20px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 3px 50%;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #6AA70B;
	-moz-border-radius: 10px 10px / 10px 10px;
	border-radius: 10px 10px / 10px 10px;
	padding-bottom: 5px;
}
.news-table ul li.t1 {
	background-color: rgb(242,243,238);
	margin-top: 5px;
	margin-bottom: 5px;
}/* 第一行的背景色 */
.news-table ul li.t2{
	background-color: #ffffff;
	margin-top: 5px;
	margin-bottom: 5px;
}/* 第二行的背景色 */
.news-table ul li.t3 {
	background-color: rgb(203,216,191);
	color: rgb(0,0,0);
	margin-top: 5px;
	margin-bottom: 5px;
}/* 鼠标经过时的背景色 */








