@charset "UTF-8";
/* CSS Document */

/*Basics*/

body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}


p {margin:0; padding:0;}

#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
	background-color: #f75959;
}

#Wrapper #container {
	background-color: #f75959;
	font-family: "Yuppy SC Regular";
	width: 1064px;
	height: auto;
	position: absolute;
}

/*Main*/
#Wrapper #container #main {
	width: 1024px;
	height: auto;
	background-color: rgb(255,255,255);
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}

/*Header*/
#Wrapper #container #main #header {
	background-color: #f75959;
	height: 130px;
	width: 1024px;
	position: absolute;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(255,255,255,1);
	margin-left: 925px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	z-index: 999;
	margin-left: 20px;
	position: absolute;
}

#Wrapper #container #main #header #searchbox {
	height: 20px;
	width: 145px;
	position: absolute;
	margin-left: 180px;
	border: 2px dashed rgba(255,255,255,1);
}

/*nav*/

#Wrapper #container #main #header #logotext{
	height: 70px;
	width: 220px;
	position: absolute;
	margin-top: 55px;
	margin-left: 402px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(255,255,255,1);
	padding-top: 21px;
	font-family: "Yuppy SC Regular";
}

#Wrapper #container #main #header #logotext a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
/*nav*/

/*nav修改size*/
#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 390px;
	position: absolute;
	margin-top: 85px;
	margin-left: 19px;
	font-family: "Yuppy SC Regular";
	z-index: 10;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -10px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	float: left;
	padding-right: 33px;
}

/*修改size*/
#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 380px;
	position: absolute;
	font-family: "Yuppy SC Regular";
	margin-top: 85px;
	margin-left: 642px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	margin-left: 30px;
	margin-right: 12px;
}

#Wrapper #container #main #header ul li a{
	color: rgb(255,255,255);
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: rgb(255,255,255);
	text-decoration: none;	
}

#Wrapper #container #main #header .whitebg {
	background-color: rgb(255,255,255);
	height: 60px;
	width: 125px;
	position: absolute;
	margin-top: 75px;
	z-index: 1;
	margin-left: 250px;
}


/*Topleftcontent*/

#Wrapper #container #main #maincontent {
	width: 1024px;
	margin-top: 160px;
	height: 2202px;
	overflow: hidden;
	float: left;
	background-image: url(../images/aboutusbg4.jpg);
}

#Wrapper #container #main #maincontent #text1 {
	font-size: 12px;
	color: rgb(51,51,51);
	height: 100px;
	width: 365px;
	margin-top: 662px;
	margin-left: 202px;
	line-height: 20px;
	text-align: justify;
}

#Wrapper #container #main #maincontent #text2 {
	font-size: 12px;
	color: rgb(51,51,51);
	height: 100px;
	width: 360px;
	margin-top: 80px;
	margin-left: 430px;
	line-height: 20px;
	text-align: justify;
}

#Wrapper #container #main #maincontent #text3 p {
	font-size: 14px;
	color: rgb(51,51,51);
	height: 400px;
	width: 660px;
	margin-top: 815px;
	margin-left: 183px;
	line-height: 32px;
	text-align: justify;
}

#Wrapper #container #main #contactus {
	font-size: 24px;
	font-family: "Arial Rounded MT Bold";
	color: rgb(255,255,255);
	margin-top: 49px;
	margin-left: 145px;
}
#Wrapper #container #main #contactus a{
	color: rgb(255,255,255);
	text-decoration: none;
}

#Wrapper #container #main #contactus a: hover {
	color: rgb(255,255,255);
	text-decoration: underline;
}


#Wrapper #container #main #footer {
	width: 1024px;
    background-color: #f75959;
	margin-top: 40px;
	height: 220px;
}



#Wrapper #container #main #footer #footerpic{
	width: 1024px;
	height: 108px;
	position: absolute;
	background-image: url(../images/footer.png);
}

#Wrapper #container #main #footer #footertext{
	width: 1004px;
	height: 78px;
	position: absolute;
	margin-left: 10px;
	color: rgb(0,0,0);
}

#Wrapper #container #main #footer #footertext #leftadd{
	width: 220px;
	height: 78px;
	position: absolute;
	text-align: left;
	color: #FFFFFF;
	margin-top: 135px;
	line-height: 23px;
	font-size: 12px;
}

#Wrapper #container #main #footer #footertext #brandlogo1{
	width: 60px;
	height: 35px;
	position: absolute;
	margin-left: 245px;
    margin-top: 178px;
}

#Wrapper #container #main #footer #footertext #brandlogo2{
	width: 60px;
	height: 35px;
	position: absolute;
	margin-left: 335px;
	margin-top: 178px;
}


#Wrapper #container #main #footer #footertext #brandlogo3{
	width: 60px;
	height: 35px;
	position: absolute;
	margin-left: 425px;
	margin-top: 163px;
}


#Wrapper #container #main #footer #footertext #brandlogo4{
	width: 60px;
	height: 28px;
	position: absolute;
	margin-left: 515px;
	margin-top: 187px;
}

#Wrapper #container #main #footer #footertext #righttext{
	width: 400px;
	height: 78px;
	position: absolute;
	text-align: right;
	color: #FFFFFF;
	margin-left: 605px;
	margin-top: 135px;
	line-height: 23px;
	font-size: 12px;
}

.clear{
	clear: both;
}

