@charset "UTF-8";
/* CSS Document */

/*Basics*/
body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}

p {margin:0; padding:0;}

#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
	background-color: #f75959;
}

#Wrapper #container {
	font-family: "Comic Sans MS", cursive;
	width: 1064px;
	height: auto;
	position: absolute;
	background-image: url(../images/comparebg_route_main.jpg);
	background-repeat: repeat;
}

/*Main*/
#Wrapper #container #main {
	width: 1024px;
	height: auto;
	background-image: url(../images/comparebg_route_main.jpg);
	background-repeat: repeat;
	margin-right: 20px;
	margin-left: 20px;
}

/*Header*/
#Wrapper #container #main #header {
	background-color: rgba(255,255,255,1);
	height: 130px;
	width: 1064px;
	position: absolute;
	margin-left: -20px;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(62,124,78,1);
	margin-left: 955px;
	margin-top:10px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	margin-left: 25px;
	margin-top:10px;
	position: absolute;
	
}

#Wrapper #container #main #header #searchbox {
	height: 20px;
	width: 145px;
	position: absolute;
	margin-left: 200px;
	margin-top:10px;
	border: 2px dashed rgba(62,124,78,1);
}


#Wrapper #container #main #header #logotext{
	height: 48px;
	width: 220px;
	position: absolute;
	background-color: rgba(255,255,255,1);
	margin-top: 60px;
	margin-left: 442px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(62,124,78,1);
	padding-top: 21px;
}

#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 420px;
	position: absolute;
	margin-top: 88px;
	margin-left: 25px;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -30px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(62,124,78,1);
	float: left;
	padding-right: 35px;
		
}

#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 430px;
	position: absolute;
	margin-top: 88px;
	margin-left: 702px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(62,124,78,1);
	margin-left: 35px;
}

#Wrapper #container #main #header ul li a{
	color: rgba(62,124,78,1);
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: rgba(62,124,78,1);
	text-decoration: none;	
}
.underline{
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: rgba(62,124,78,1);
}



/*Topleftcontent*/

#Wrapper #container #main #topleft {
	width: 635px;
	margin-top: 160px;
	margin-left: 10px;
	height: auto;
	overflow: hidden;
	background-color: rgb(255,255,255);
	float: left;
}

#Wrapper #container #main #topleft #articlepic {
	height: 360px;
	width: 600px;
	position: absolute;
	border: 2px dashed rgb(102,191,127);
	margin-top: 60px;
	margin-left: 15px;
}

#Wrapper #container #main #topleft #articletitle {
	height: 40px;
	width: 600px;
	position: absolute;
	margin-top: 20px;	
}

#Wrapper #container #main #topleft #articletitle h1 {
	vertical-align: middle;
	font-size: 24px;
	color: rgb(102,191,127);
}


#Wrapper #container #main #topleft #maintabcontent {
	width: 602px;
	margin-top: 460px;
	overflow: hidden;
	overflow-x: hidden;
	height: auto;
	margin-left: 15px;
}

#Wrapper #container #main #topleft #maintabcontent p {
	text-align: justify;
	vertical-align: middle;
	font-size: 14px;
	color: #666666;
	line-height: 23px;
}


#Wrapper #container #main #topleft #sharebutton {
	height: auto;
	width: 600px;
	margin-top: 25px;
	margin-left: 15px;
}

#Wrapper #container #main #topleft #articlelinks {
	height: 30px;
	width: 600px;
	margin-top: 60px;
}

#Wrapper #container #main #topleft #comments {
	height: auto;
	width: 600px;
	margin-top: 25px;
	margin-left: 15px;
}



/*Topright*/

#Wrapper #container #main #topright {
	height: 760px;
	width: 285px;
	float: left;
	margin-top: 160px;
	margin-left: 70px;
}

#Wrapper #container #main #topright ul {
	padding-left: 40px;
	float: left;
	margin-top: 20px;
}

#Wrapper #container #main #topright ul li {
	display: block;
	height: 220px;
	width: 285px;
	list-style-type: none;
	margin-left: -40px;
	float: left;
}

#Wrapper #container #main #topright #orderinfo {
	height: auto;
	width: 293px;
	background-color: rgb(255,255,255);
}


#Wrapper #container #main #topright #orderinfo p{
	font-size: 16px;
	line-height: 30px;
	color: rgba(51,51,51,1);
	text-align: left;
	padding-left: 10px;
}


#Wrapper #container #main #topright #orderguide {
	height: 100px;
	width: 293px;
	margin-top: 20px;
	background-color: rgb(255,255,255);
}

#Wrapper #container #main #topright #orderguide h4 {
	font-size: 34px;
	padding-left: 10px;
	padding-top: 32px;
	color: #f75959;
}

#Wrapper #container #main #topright #orderguide p {
	font-size: 14px;
	margin-left: 150px;
	margin-top: -50px;
	color: #333333;
	line-height: 20px;
}

.redtext{
	color: #f75959;
}



/*form style*/
#topright #orderinfo form {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	border: 4px solid rgb(204,204,204);
	padding: 2px;
}

#orderinfo form #orderbutton input {
	background-color: rgba(104,187,109,1);
	height: 30px;
	width: 263px;
	font-size: 18px;
	color: rgba(255,255,255,1);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#orderinfo form #calculatebutton input {
	height: 20px;
	width: 75px;
	font-size: 14px;
	color: rgba(255,255,255,1);
	margin-top: -35px;
	margin-bottom: 10px;
	margin-left: 185px;
	padding-left: 5px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	background: rgb(255,168,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgb(204,204,204);

}

/*footer*/
#Wrapper #container #main #footer {
	width: 1064px;
	margin-top: 60px;
	height: 100px;
	margin-left: -20px;
	background-image: url(../images/comparebg_route2.jpg);
	background-repeat: repeat;
}


#Wrapper #container #main #footer #footertext{
	width: 1004px;
	height: 78px;
	position: absolute;
	margin-left: 10px;
	color: rgb(255,255,255);
}

#Wrapper #container #main #footertext #righttext{
	width: 420px;
	height: 68px;
	position: absolute;
	text-align: right;
	margin-left: 620px;
	font-size: 12px;
	margin-top: 5px;
}


.clear{
	clear: both;
}


#Wrapper #container #main #topleft #articlepic img {
	margin-top: 8px;
	margin-left: 8px;
}

.containerbg{
	height: 2500px;
	width: 1064px;
	background-image: url(../images/gonglue.jpg);
	background-repeat: repeat;
}

#Wrapper #container #main #topleft #sharebutton h4 {
	font-size: 16px;
}

