@charset "UTF-8";
/* CSS Document */

/*Basics*/
#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
}

#Wrapper #container {
	width: 1064px;
	font-family: "Comic Sans MS", cursive;
	height: auto;
	position: absolute;
	background-image: url(../images/comparebg.jpg);
	background-repeat: repeat;
}


/*Main*/
#Wrapper #container #main {
	width: 1064px;
	height: auto;
	overflow: auto;
	background-image: url(../images/comparebg.jpg);
	background-repeat: repeat;
}

/*Header*/
#Wrapper #container #main #header {
	background-color: rgba(255,255,255,1);
	height: 130px;
	width: 1064px;
	position: absolute;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(62,124,78,1);
	margin-left: 955px;
	margin-top:10px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	margin-left: 25px;
	margin-top:10px;
	position: absolute;
	
}

#Wrapper #container #main #header #searchbox {
	height: 20px;
	width: 145px;
	position: absolute;
	margin-left: 200px;
	margin-top:10px;
	border: 2px dashed rgba(62,124,78,1);
}

#Wrapper #container #main #header #logotext{
	height: 48px;
	width: 220px;
	position: absolute;
	background-color: rgba(255,255,255,1);
	margin-top: 60px;
	margin-left: 442px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(62,124,78,1);
	padding-top: 21px;
}

#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 420px;
	position: absolute;
	margin-top: 70px;
	margin-left: -15px;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -30px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(62,124,78,1);
	float: left;
	padding-right: 35px;
		
}

#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 430px;
	position: absolute;
	margin-top: 70px;
	margin-left: 652px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(62,124,78,1);
	margin-left: 35px;
}

#Wrapper #container #main #header ul li a{
	color: rgba(62,124,78,1);
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: rgba(62,124,78,1);
	text-decoration: none;	
}
.underline{
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: rgba(62,124,78,1);
}


/*Topleftcontent*/

#Wrapper #container #main #topleft {
	height: auto;
	width: 540px;
	margin-top: 230px;
	margin-left: 40px;
	float: left;
	overflow: hidden;
	background-color: rgb(191,221,151);
}




/*Toprightcontent*/

#Wrapper #container #main #topright {
	width: 365px;
	height: 311px;
	margin-top: 440px;
	float: left;
	margin-left: 95px;
	overflow: hidden;
	background-image: url(../images/comparegraphic.png);
	background-repeat: no-repeat;
}




#Wrapper #container #main #footertext{
	width: 1064px;
	height: 140px;
	position: absolute;
	font-size: 12px;
	color: #FFFFFF;
	background-image: url(../images/comparebg.jpg);
	background-repeat: repeat;
	font-family: "Times New Roman", Times, serif;
}



#Wrapper #container #main #footertext #righttext{
	width: 420px;
	height: 108px;
	position: absolute;
	text-align: right;
	margin-left: 630px;
	font-size: 12px;
	margin-top: 30px;
}


.clear{
	clear: both;
	
	
/*Form*/
}#Wrapper #container #main #topleft form {
	margin-top: 100px;
}
#topleft form table tr td input {
	font-size: 18px;
	text-align: right;
	color: rgba(204,204,204,1);
	padding: 5px;
}

/*Calendar*/
.timespan {
	float:left;
	width:100%;
	margin-bottom:5px;
	overflow:hidden;	
	margin-top: -15px;
}
.timespan .time {
	width: 162px;
	height: 20px;
	line-height: 18px;
	
}
.DynarchCalendar {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	font: 11px "lucida grande", tahoma, verdana, sans-serif;
	line-height: 14px;
	position: relative;
	cursor: default;
	-moz-border-radius: 15px;
    border-radius: 15px;
   -moz-box-shadow: 5px 5px 5px black;
   -webkit-box-shadow: 5px 5px 5px black;
   box-shadow: 5px 5px 5px black;
}
.DynarchCalendar table {
	border-collapse: collapse;
	font: 11px "lucida grande", tahoma, verdana, sans-serif;
	line-height: 14px;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-topBar {
	padding: 5px 0 0 0;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
table.DynarchCalendar-titleCont {
	font-size: 130%;
	font-weight: bold;
	color: #444;
	text-align: center;
	z-index: 9;
	position: relative;
	margin-top: -6px;
	text-align:left
}
.DynarchCalendar-title div {
	padding: 5px 17px;
}
.DynarchCalendar-hover-title div {
	background-color: #fff;
	border: 1px solid #000;
	padding: 4px 16px;
	background-image: url("../images/drop-down.gif");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-pressed-title div {
	border: 1px solid #000;
	padding: 4px 16px;
	background-color: #777;
	color: #fff;
	background-image: url("../images/drop-up.gif");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-bottomBar {
	padding: 2px;
	position: relative;
	text-align: center;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-bottomBar-today {
	padding: 2px 15px;
}
.DynarchCalendar-hover-bottomBar-today {
	border: 1px solid #000;
	background-color: #fff;
	padding: 1px 14px;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-pressed-bottomBar-today {
	border: 1px solid #000;
	background-color: #777;
	color: #fff;
	padding: 1px 14px;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-body {
	position: relative;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-first-col {
	padding-left: 5px;
}
.DynarchCalendar-last-col {
	padding-right: 5px;
}
.DynarchCalendar-animBody-backYear {
	position: absolute;
	top: -100%;
	left: 0;
}
.DynarchCalendar-animBody-back {
	position: absolute;
	top: 5px;
	left: -100%;
}
.DynarchCalendar-animBody-fwd {
	position: absolute;
	top: 5px;
	left: 100%;
}
.DynarchCalendar-animBody-now {
	position: absolute;
	top: 5px;
	left: 0;
}
.DynarchCalendar-animBody-fwdYear {
	position: absolute;
	top: 100%;
	left: 0;
}
.DynarchCalendar-dayNames {
	padding-left: 5px;
	padding-right: 5px;
}
.DynarchCalendar-dayNames div {
	font-weight: bold;
	color: #444;
	text-shadow: 1px 1px 1px #777;
}
.DynarchCalendar-navBtn {
	position: absolute;
	top: 5px;
	z-index: 10;
}
.DynarchCalendar-navBtn div {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 15px;
	width: 16px;
	padding: 1px;
}
.DynarchCalendar-hover-navBtn div {
	border: 1px solid #000;
	padding: 0;
	background-color: #fff;
}
.DynarchCalendar-navDisabled {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.DynarchCalendar-pressed-navBtn div {
	border: 1px solid #000;
	padding: 0;
	background-color: #777;
	color: #fff;
}
.DynarchCalendar-prevMonth {
	left: 25px;
}
.DynarchCalendar-nextMonth {
	left: 100%;
	margin-left: -43px;
}
.DynarchCalendar-prevYear {
	left: 5px;
}
.DynarchCalendar-nextYear {
	left: 100%;
	margin-left: -23px;
}
.DynarchCalendar-prevMonth div {
	background-image: url("../images/nav-left.gif");
}
.DynarchCalendar-nextMonth div {
	background-image: url("../images/nav-right.gif");
}
.DynarchCalendar-prevYear div {
	background-image: url("../images/nav-left-x2.gif");
}
.DynarchCalendar-nextYear div {
	background-image: url("../images/nav-right-x2.gif");
}
.DynarchCalendar-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #C93;
	overflow: hidden;
	opacity: 0.85;
	filter: alpha(opacity=85);
	-moz-border-radius: 15px;
    border-radius: 15px;
}
.DynarchCalendar-menu table td div {
	text-align: center;
	font-weight: bold;
	padding: 3px 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.DynarchCalendar-menu table td div.DynarchCalendar-menu-month {
	width: 4em;
	text-align: center;
}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
	border: 1px solid #000;
	padding: 2px 4px;
	background-color: #fff;
	color: #000;
}
.DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn {
	border: 1px solid #000;
	padding: 2px 4px;
	background-color: #777;
	color: #fff !important;
}
.DynarchCalendar-menu-year {
	text-align: center;
	font: 16px "lucida grande", tahoma, verdana, sans-serif;
	font-weight: bold;
}
.DynarchCalendar-menu-sep {
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	border-top: 1px solid #888;
	background: #fff;
	margin-top: 4px;
	margin-bottom: 3px;
}
.DynarchCalendar-time td {
	font-weight: bold;
	font-size: 120%;
}
.DynarchCalendar-time-hour, .DynarchCalendar-time-minute {
	padding: 1px 3px;
}
.DynarchCalendar-time-down {
	background: url("../images/time-down.png") no-repeat 50% 50%;
	width: 11px;
	height: 8px;
	opacity: 0.5;
}
.DynarchCalendar-time-up {
	background: url("../images/time-up.png") no-repeat 50% 50%;
	width: 11px;
	height: 8px;
	opacity: 0.5;
}
.DynarchCalendar-time-sep {
	padding: 0 2px;
}
.DynarchCalendar-hover-time {
	background-color: rgb(104,187,127);
	color: #fff;
	opacity: 1;
}
.DynarchCalendar-pressed-time {
	background-color: rgb(104,187,127);
	color: #fff;
	opacity: 1;
}
.DynarchCalendar-time-am {
	padding: 1px;
	width: 2.5em;
	text-align: center;
}
/* body */

.DynarchCalendar-hover-week {
	background-color: #ddd;
}
.DynarchCalendar-dayNames div, .DynarchCalendar-day, .DynarchCalendar-weekNumber {
	width: 1.7em;
	padding: 3px 4px;
	text-align: center;
}
.DynarchCalendar-weekNumber {
	border-right: 1px solid #aaa;
	margin-right: 4px;
	width: 2em !important;
	padding-right: 8px !important;
}
.DynarchCalendar-day {
	text-align: right;
	color: #222;
}
.DynarchCalendar-day-othermonth {
	color: #888;
}
.DynarchCalendar-weekend {
	color: rgb(104,187,127);
}
.DynarchCalendar-day-today {
	color: rgb(255,103,80);
	font-weight: bold;
	text-decoration: underline overline;
}
.DynarchCalendar-day-disabled {
	opacity: 0.5;
	text-shadow: 2px 1px 1px #fff;
}
.DynarchCalendar-hover-date {
	padding: 2px 3px;
	background-color: #FFF;
	border: 1px solid #FFF;
	margin: 0 !important;
	color: #000;
}
.DynarchCalendar-day-othermonth.DynarchCalendar-hover-date {
	color: #888;
	border-top-color: rgb(104,187,127);
	border-right-color: rgb(104,187,127);
	border-bottom-color: rgb(104,187,127);
	border-left-color: rgb(104,187,127);
}
.DynarchCalendar-dayNames .DynarchCalendar-weekend {
	color: #999;
}
.DynarchCalendar-day-othermonth.DynarchCalendar-weekend {
	color: #999;
}
.DynarchCalendar-day-selected {
	padding: 2px 3px;
	margin: 1px;
	background-color: #aaa;
	color: #000 !important;
}
.DynarchCalendar-day-today.DynarchCalendar-day-selected {
	background-color: #999;
}
/* focus */

.DynarchCalendar-focusLink {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}
.DynarchCalendar-focused {
	border-color: #000;
}
.DynarchCalendar-focused .DynarchCalendar-topBar, .DynarchCalendar-focused .DynarchCalendar-bottomBar {
	background-color: #ccc;
	border-top-color: rgb(104,187,127);
	border-right-color: rgb(104,187,127);
	border-bottom-color: rgb(104,187,127);
	border-left-color: rgb(104,187,127);
}
.DynarchCalendar-focused .DynarchCalendar-hover-week {
	background-color: #ccc;
}
.DynarchCalendar-tooltip {
	position: absolute;
	top: 100%;
	width: 100%;
	background-color: rgb(104,187,127);
}
.DynarchCalendar-tooltipCont {
	margin: 0 5px 0 5px;
	border: 1px solid #aaa;
	border-top: 0;
	padding: 3px 6px;
	background-color: rgb(104,187,127);
}
.DynarchCalendar-focused .DynarchCalendar-tooltipCont {
	background: #ccc;
	border-color: #000;
}
 @media print {
.DynarchCalendar-day-selected {
	padding: 2px 3px;
	border: 1px solid #000;
	margin: 0 !important;
}
}
.DynarchCalendar-topCont {
	margin-left: 18px;
	background-attachment: scroll;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
	margin-top: 5px;
}
iframe {
	margin-left:18px;
	margin-top: 5px;
}
.DynarchCalendar-topCont .DynarchCalendar {
	border: 1px solid #FFFFFF;
}
.DynarchCalendar, .DynarchCalendar-focused {
	background-color: #F1F8FC;
}
.DynarchCalendar-topBar, .DynarchCalendar-bottomBar, .DynarchCalendar-focused .DynarchCalendar-topBar, .DynarchCalendar-focused .DynarchCalendar-bottomBar {
	background-color: #FFFFFF;
	color: #333;
}
.DynarchCalendar-title div {
	color: #333;
}
.DynarchCalendar-dayNames {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.DynarchCalendar-hover-navBtn div, .DynarchCalendar-hover-title div, .DynarchCalendar-hover-bottomBar-today {
	background-color: rgb(104,187,127);
	color: #000;
	border-top-color: rgb(104,187,127);
	border-right-color: rgb(104,187,127);
	border-bottom-color: rgb(104,187,127);
	border-left-color: rgb(104,187,127);
}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
	background-color: rgb(104,187,127);
	color: #333333;
	border-top-color: rgb(104,187,127);
	border-right-color: rgb(104,187,127);
	border-bottom-color: rgb(104,187,127);
	border-left-color: rgb(104,187,127);
}
.DynarchCalendar-pressed-navBtn div, .DynarchCalendar-pressed-title div, .DynarchCalendar-pressed-bottomBar-today, .DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn {
	background-color: rgb(104,187,127);
	color: #333;
	border-top-color: rgb(104,187,127);
	border-right-color: rgb(104,187,127);
	border-bottom-color: rgb(104,187,127);
	border-left-color: rgb(104,187,127);
}
.DynarchCalendar-hover-date {
	background-color: rgb(104,187,127);
	border: thin solid rgb(104,187,127);
}
.DynarchCalendar-day {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.DynarchCalendar-day-disabled {
	background: #c4c0b8;
}
.DynarchCalendar-hover-week {
	background-color: rgba(255,255,255,0.5) !important;
}
.DynarchCalendar-day-selected {
	background-color: rgb(104,187,127);
	border: 1px solid rgb(104,187,127);
	margin: 0;
	color: #333;
	font-weight: 700
}
.DynarchCalendar-day-today.DynarchCalendar-day-selected {
	background-color: rgb(104,187,127);
}
.DynarchCalendar-menu {
	background-color: #ddeeff;
}
.DynarchCalendar-dayNames div {
	text-shadow:none;
	font-size:12px;
}
.DynarchCalendar table {
	font-size: 12px;
	color: (104,187,127); 	
	background-color: (104,187,127);
}





#topleft form table tr td .search {
	color: rgba(62,124,78,1);
	background-color: rgba(255,255,255,1);
	text-align: center;
	word-spacing: 1.6em;
	font-size: 18px;
	height: 33px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-top: -23px;
	padding-right: 17px;
	padding-bottom: 5px;
	margin-left: -5px;
	padding-left: 17px;
	margin-top: -20px;
}
#topleft form table tr td div .firstrow {
	width: 200px;
	margin-top: -15px;
}
#topleft form table tr td {
	font-size: 18px;
	color: rgba(102,102,102,1);
	padding-left: 2px;
}
