@charset "UTF-8";
/* CSS Document */

/*Basics*/
body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}

p {margin:0; padding:0;}

#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
	background-color: #f75959;
}

#Wrapper #container {
	font-family: "Comic Sans MS", cursive;
	width: 1064px;
	height: auto;
	position: absolute;
	background-image: url(../images/comparebg_route_main.jpg);
	background-repeat: repeat;
}

/*Main*/
#Wrapper #container #main {
	width: 1024px;
	height: auto;
	background-image: url(../images/comparebg_route_main.jpg);
	background-repeat: repeat;
	margin-right: 20px;
	margin-left: 20px;
}

/*Header*/
#Wrapper #container #main #header {
	background-color: rgba(255,255,255,1);
	height: 130px;
	width: 1064px;
	position: absolute;
	margin-left: -20px;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(62,124,78,1);
	margin-left: 955px;
	margin-top:10px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	margin-left: 25px;
	margin-top:10px;
	position: absolute;
	
}

#Wrapper #container #main #header #searchbox {
	height: 20px;
	width: 145px;
	position: absolute;
	margin-left: 200px;
	margin-top:10px;
	border: 2px dashed rgba(62,124,78,1);
}
#Wrapper #container #main #header #logotext{
	height: 48px;
	width: 220px;
	position: absolute;
	background-color: rgba(255,255,255,1);
	margin-top: 60px;
	margin-left: 442px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(62,124,78,1);
	padding-top: 21px;
}

#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 420px;
	position: absolute;
	margin-top: 88px;
	margin-left: 25px;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -30px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(62,124,78,1);
	float: left;
	padding-right: 35px;
		
}

#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 430px;
	position: absolute;
	margin-top: 88px;
	margin-left: 702px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(62,124,78,1);
	margin-left: 35px;
}

#Wrapper #container #main #header ul li a{
	color: rgba(62,124,78,1);
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: rgba(62,124,78,1);
	text-decoration: none;	
}
.underline{
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: rgba(62,124,78,1);
}



/*Topleftcontent*/

#Wrapper #container #main #topleft {
	width: 635px;
	margin-top: 160px;
	margin-left: 10px;
	height: auto;
	overflow: hidden;
	background-color: rgb(255,255,255);
	float: left;
}

#Wrapper #container #main #topleft #maincontent {
	margin-bottom: 10px;
	margin-top: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: rgba(62,124,78,1);
	width:615px;
	margin-left:10px;
}
#Wrapper #container #main #topleft #bottomline {
	width: 635px;
	margin-top: 863px;
	position: absolute;
	height: 35px;
	background-color: rgb(255,255,255);
}

#Wrapper #container #main #topleft #maincontent #listtitle {
	background-color: rgb(0,204,204);
}
#Wrapper #container #main #topleft #maincontent #listtitle ul {
	float: left;
	width: 615px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 35px;
	font-size: 18px;
	vertical-align: middle;
	padding-top: 10px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: rgb(204,204,204);
	border-right-color: rgb(204,204,204);
	border-bottom-color: rgb(204,204,204);
	border-left-color: rgb(204,204,204);
}
#Wrapper #container #main #topleft #maincontent #listtitle ul li {
	display: inline;
	list-style-type: none;
	padding-right: 27px;
	padding-left:5px;
}

#Wrapper #container #main #topleft #maincontent #list{
	float: left;
	width: 625px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	height: 35px;
	font-size: 18px;
	vertical-align: middle;
	padding-top: 10px;
	height: auto;
}

#Wrapper #container #main #topleft #maincontent #list table {
	margin-left: 5px;
}
#Wrapper #container #main #topleft #maincontent #list table {
	border-collapse: collapse; 
}
#Wrapper #container #main #topleft #maincontent #list table tr td {
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	text-align: center;
}
#Wrapper #container #main #topleft #maincontent #list table tr td a {
	font-size: 16px;
	text-decoration: underline;
	color: rgb(102,191,125);
	line-height: 40px;
}
#Wrapper #container #main #topleft #maincontent #list table tr{
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgb(204,204,204);
}

.tablerowbg{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: rgb(204,204,204);
	border-right-color: rgb(204,204,204);
	border-bottom-color: rgb(204,204,204);
	border-left-color: rgb(204,204,204);
}
/*Topright*/

#Wrapper #container #main #topright {
	height: 760px;
	width: 285px;
	float: left;
	margin-top: 160px;
	margin-left: 53px;
}

#Wrapper #container #main #topright ul {
	padding-left: 40px;
	float: left;
	margin-top: 20px;
}

#Wrapper #container #main #topright #filtersearch form table {
	border-collapse: collapse; 
}

#Wrapper #container #main #topright #filtersearch table tr td {
	padding-top: 10px;
	padding-bottom: 10px;
}

#Wrapper #container #main #topright #filtersearch form {
	padding: 10px;
}

.rowborder {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
}


#Wrapper #container #main #topright ul li {
	display: block;
	height: 220px;
	width: 285px;
	list-style-type: none;
	margin-left: -40px;
	float: left;
}

#Wrapper #container #main #topright #filtersearch {
	height: auto;
	width: 323px;
	font-size: 14px;
	color: rgb(255,255,255);
	line-height: 10px;
}

#Wrapper #container #main #topright #filtersearch form table #searchbutton input {
	background: rgb(169,219,128); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(150,197,111,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
	height: 30px;
	width: 183px;
	font-size: 18px;
	color: rgba(255,255,255,1);
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 60px;
	position: absolute;
	-moz-border-radius: 35px;
	border-radius: 35px;
	border: 2px solid rgb(255,255,255);
}

/*span*/
.redtext{
	color: #f75959;
}

.labeltext{
	font-size: 16px;
}




/*footer*/
#Wrapper #container #main #footer {
	width: 1064px;
	margin-top: 60px;
	height: 100px;
	margin-left: -20px;
	background-image: url(../images/comparebg_route2.jpg);
	background-repeat: repeat;
}


#Wrapper #container #main #footer #footertext{
	width: 1004px;
	height: 78px;
	position: absolute;
	margin-left: 10px;
	color: rgb(255,255,255);
}


#Wrapper #container #main #footertext #righttext{
	width: 420px;
	height: 68px;
	position: absolute;
	text-align: right;
	margin-left: 620px;
	font-size: 12px;
	margin-top: 5px;
}



.clear{
	clear: both;
}


.containerbg{
	height: 2500px;
	width: 1064px;
	background-image: url(../images/gonglue.jpg);
	background-repeat: repeat;
}

#Wrapper #container #main #topleft #sharebutton h4 {
	font-size: 16px;
}

#Wrapper #container #main #topleft #pagination {
	margin-left: 520px;
	margin-top: 20px;
}

#Wrapper #container #main #topleft #results {
	margin-left: 400px;
	margin-bottom: 0px;
	position: absolute;
	margin-top: 25px;
}
