@charset "UTF-8";
/* CSS Document */

/*Basics*/
body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}

#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
}

#container {
	position: absolute;
	height: 1850px;
	width: 1064px;
	background-color: #f75959;
	font-family: "Yuppy SC Regular";
}

/*Main*/
#Wrapper #container #main {
	background-color: rgba(255,255,255,1);
	margin: 20px;
	height: 1720px;
	width: 1024px;
	position: absolute;
}

/*Header*/
#Wrapper #container #main #header {
	background-color: #f75959;
	height: 130px;
	width: 1024px;
	position: absolute;
}

#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(255,255,255,1);
	margin-left: 925px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	
	margin-left: 20px;
	position: absolute;
	
}

#Wrapper #container #main #header #searchbox {
	height: 20px;
	width: 145px;
	position: absolute;
	margin-left: 180px;
	border: 2px dashed rgba(255,255,255,1);
}

#Wrapper #container #main #header #logotext{
	height: 70px;
	width: 220px;
	position: absolute;
	margin-top: 55px;
	margin-left: 402px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(255,255,255,1);
	padding-top: 21px;
	font-family: "Yuppy SC Regular";
}

#Wrapper #container #main #header #logotext a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}

/*nav*/

/*nav修改size*/
#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 390px;
	position: absolute;
	margin-top: 85px;
	margin-left: 19px;
	font-family: "Yuppy SC Regular";
	z-index: 10;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -10px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	float: left;
	padding-right: 33px;
}

/*修改size*/
#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 380px;
	position: absolute;
	font-family: "Yuppy SC Regular";
	margin-top: 85px;
	margin-left: 642px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	margin-left: 30px;
	margin-right: 12px;
}

#Wrapper #container #main #header ul li a{
	color: rgb(255,255,255);
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: rgb(255,255,255);
	text-decoration: none;	
}

#Wrapper #container #main #header .whitebg {
	background-color: rgb(255,255,255);
	height: 60px;
	width: 85px;
	position: absolute;
	margin-top: 75px;
	z-index: 1;
	margin-left: 80px;
}

/*Topleftcontent*/

#Wrapper #container #main #topleft {
	height: 760px;
	width: 590px;
	position: absolute;
	margin-top: 140px;
	margin-left: 80px;
}

#Wrapper #container #main #topleft ul {
	float: left;
	margin: 0px;
}

#Wrapper #container #main #topleft ul li {
	display: block;
	height: 195px;
	width: 600px;
	list-style-type: none;
	margin-left: -40px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #CCC;
}


#Wrapper #container #main #topleft ul li .img {
	float: left;
	height: 150px;
	width: 180px;
	border: 2px dashed #CCC;
	margin-top: 20px;
}

#Wrapper #container #main #topleft ul li .img img {
	margin-top: 4px;
	margin-left: 4px;
}

#Wrapper #container #main #topleft ul li .gongluetitle {
	height: 30px;
	width: 410px;
	position: absolute;
	color: rgba(102,192,106,1);
	text-align: left;
	margin-top: 20px;
	vertical-align: middle;
	font-family: "Yuppy SC Regular";
	margin-left: 195px;
	font-size: 18px;
}

#Wrapper #container #main #topleft ul li .gongluetitle a {
	color: rgba(102,192,106,1);
	text-decoration: none;
}

#Wrapper #container #main #topleft ul li .gonglueauthor {
	height: 20px;
	width: 410px;
	position: absolute;
	text-align: left;
	margin-top: 45px;
	vertical-align: middle;
	padding-top: 2px;
	margin-left: 195px;
	font-size: 12px;
	color: #999999;
	line-height: 20px;
}

#Wrapper #container #main #topleft ul li .gonglueinfo {
	height: 120px;
	width: 410px;
	position: absolute;
	text-align: justify;
	margin-top: 80px;
	vertical-align: middle;
	margin-left: 195px;
	font-size: 14px;
	color: #666666;
	line-height: 23px;
}




#Wrapper #container #main #leftrightline {
	height: 1380px;
	position: absolute;
	margin-top: 160px;
	margin-left: 670px;
	border-right-width: medium;
	border-right-style: solid;
	border-right-color: rgba(204,204,204,1);
}

/*Topright*/

#Wrapper #container #main #topright {
	height: 760px;
	width: 285px;
	margin-top: 160px;
	margin-left: 700px;
}

#Wrapper #container #main #topright ul {
	padding-left: 40px;
}

#Wrapper #container #main #topright ul li {

	display: block;
	height: 220px;
	width: 285px;
	list-style-type: none;
	margin-left: -40px;

}






#Wrapper #container #main #footerpic{
	width: 1024px;
	height: 108px;
	position: absolute;
	margin-top: 700px;
	background-image: url(../images/footer.png);
}

#Wrapper #container #main #footertext{
	width: 1004px;
	height: 78px;
	position: absolute;
	margin-top: 825px;
	margin-left: 10px;
}

#Wrapper #container #main #footertext #leftadd{
	width: 220px;
	height: 78px;
	position: absolute;
	text-align: left;
	color: #FFFFFF;
	line-height: 23px;
	font-size: 12px;
}

#Wrapper #container #main #footertext #brandlogo1{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #9900FF;
	margin-left: 245px;
	margin-top: 25px;
}

#Wrapper #container #main #footertext #brandlogo2{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #0099CC;
	margin-left: 335px;
	margin-top: 25px;
}

#Wrapper #container #main #footertext #brandlogo3{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #99CC99;
	margin-left: 425px;
	margin-top: 25px;
}

#Wrapper #container #main #footertext #brandlogo4{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #CC9999;
	margin-left: 515px;
	margin-top: 25px;
}

#Wrapper #container #main #footertext #righttext{
	width: 400px;
	height: 78px;
	position: absolute;
	text-align: right;
	color: #FFFFFF;
	margin-left: 605px;
	line-height: 23px;
	font-size: 12px;
}

/*pagination style*/

#Wrapper #container #main #topleft #pagenumberbar {
	height: 35px;
	width: 400px;
	margin-top: 1395px;
	margin-left: -172px;
	}

DIV.scott {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
	font-size: 18px;
}
DIV.scott A {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	COLOR: rgb(102,191,127);
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none;
	border: 1px solid #FFF;
}
DIV.scott A:hover {
	COLOR: rgb(51,51,51);
	border: 1px solid rgb(255,255,255);
	background-color: rgba(204,204,204,.5);
}
DIV.scott A:active {
	COLOR: rgb(51,51,51);
	border: 1px solid rgb(255,255,255);
	background-color: rgba(204,204,204,.5);
}
DIV.scott SPAN.current {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	COLOR: #333;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	border: 0px solid #b2e05d;
	background-color: rgba(204,204,204,.5);
}
DIV.scott SPAN.disabled {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	COLOR: #ccc;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	border: 0px solid #f3f3f3;
}










