@charset "UTF-8";
/* CSS Document */

/*Basics*/
body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}

p {margin:0; padding:0;}

#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
	background-color: #f75959;
}

#Wrapper #container {
	background-color: #f75959;
	font-family: "Yuppy SC Regular";
	width: 1064px;
	height: auto;
	position: absolute;
}

/*Main*/
#Wrapper #container #main {
	margin: 20px;
	width: 1024px;
	height: auto;
	background-color: rgb(255,255,255);
}

/*Header*/
#Wrapper #container #main #header {
	background-color: #f75959;
	height: 130px;
	width: 1024px;
	position: absolute;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(255,255,255,1);
	margin-left: 925px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	
	margin-left: 20px;
	position: absolute;
}

#Wrapper #container #main #header #searchbox {
	height: 40px;
	width: 215px;
	position: absolute;
	background-color: #FFCC00;
	margin-left: 300px;
}

#Wrapper #container #main #header #logotext{
	height: 70px;
	width: 220px;
	position: absolute;
	background-color: rgba(255,255,255,1);
	margin-top: 60px;
	margin-left: 402px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(245,90,88,1);
	padding-top: 21px;
	font-family: "Yuppy SC Regular";
}
/*nav*/

#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 390px;
	position: absolute;
	margin-top: 85px;
	margin-left: 9px;
	font-family: "Yuppy SC Regular";
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -10px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	float: left;
	padding-right: 37px;
		
}
#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 410px;
	position: absolute;
	font-family: "Yuppy SC Regular";
	margin-top: 85px;
	margin-left: 627px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	margin-left: 35px;
	margin-right: 14px;
}



/*Topleftcontent*/

#Wrapper #container #main #topleft {
	width: 630px;
	margin-top: 160px;
	margin-left: 40px;
	height: auto;
	overflow: hidden;
	background-color: rgb(255,255,255);
	border-right-width: medium;
	border-right-style: solid;
	border-right-color: rgba(204,204,204,1);
	float: left;
}

#Wrapper #container #main #topleft #articlepic {
	height: 360px;
	width: 600px;
	position: absolute;
	border: 2px dashed rgb(102,191,127);
}

#Wrapper #container #main #topleft #articletitle {
	height: 40px;
	width: 600px;
	position: absolute;
	margin-top: 370px;
}

#Wrapper #container #main #topleft #articletitle h1 {
	vertical-align: middle;
	font-size: 24px;
	color: rgb(102,191,127);
}

#Wrapper #container #main #topleft #articleinfo {
	height: 20px;
	width: 600px;
	position: absolute;
	text-align: left;
	vertical-align: middle;
	padding-top: 2px;
	font-size: 12px;
	color: #999999;
	line-height: 20px;
	margin-top: 405px;
}

#Wrapper #container #main #topleft #articlesummary {
	min-height: 100px;
	width: 600px;
	position: absolute;
	text-align: left;
	margin-top: 45px;
	vertical-align: middle;
	padding-top: 2px;
	font-size: 12px;
	color: #999999;
	line-height: 20px;
	background-color: rgb(0,102,255);
	margin-top: 465px;
	overflow: auto;

}

#Wrapper #container #main #topleft #articletext {
	width: 600px;
	margin-top: 575px;
	overflow: hidden;
	overflow-x: hidden;
	height: auto;
}

#Wrapper #container #main #topleft #articletext p {
	text-align: justify;
	vertical-align: middle;
	font-size: 14px;
	color: #666666;
	line-height: 23px;
}


#Wrapper #container #main #topleft #sharebutton {
	height: auto;
	width: 600px;
	margin-top: 25px;
}

#Wrapper #container #main #topleft #articlelinks {
	height: 30px;
	width: 600px;
	margin-top: 60px;
}

#Wrapper #container #main #topleft #comments {
	height: auto;
	width: 600px;
	margin-top: 25px;
}
/*Topright*/

#Wrapper #container #main #topright {
	height: 760px;
	width: 285px;
	float: left;
	margin-top: 160px;
	margin-left: 25px;
}

#Wrapper #container #main #topright ul {
	padding-left: 40px;
	float: left;
}

#Wrapper #container #main #topright ul li {
	display: block;
	height: 220px;
	width: 285px;
	list-style-type: none;
	margin-left: -40px;
	float: left;
}



#Wrapper #container #main #footer {
	width: 1024px;
    background-color: #f75959;
	margin-top: 40px;
	height: 240px;
}



#Wrapper #container #main #footer #footerpic{
	width: 1024px;
	height: 108px;
	position: absolute;
	background-image: url(../images/footer.png);
}

#Wrapper #container #main #footer #footertext{
	width: 1004px;
	height: 108px;
	position: absolute;
	margin-left: 10px;
	color: rgb(0,0,0);
}

#Wrapper #container #main #footer #footertext #leftadd{
	width: 200px;
	height: 108px;
	position: absolute;
	text-align: left;
	color: #FFFFFF;
	margin-top: 145px;
}

#Wrapper #container #main #footer #footertext #brandlogo1{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #9900FF;
	margin-left: 220px;
    margin-top: 195px;
}

#Wrapper #container #main #footer #footertext #brandlogo2{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #0099CC;
	margin-left: 310px;
	margin-top: 195px;
}


#Wrapper #container #main #footer #footertext #brandlogo3{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #99CC99;
	margin-left: 400px;
	margin-top: 195px;
}


#Wrapper #container #main #footer #footertext #brandlogo4{
	width: 60px;
	height: 35px;
	position: absolute;
	background-color: #CC9999;
	margin-left: 490px;
	margin-top: 195px;
}

#Wrapper #container #main #footer #footertext #righttext{
	width: 400px;
	height: 108px;
	position: absolute;
	text-align: right;
	color: #FFFFFF;
	margin-left: 605px;
	margin-top: 145px;
}

.clear{
	clear: both;
}
#Wrapper #container #main #topleft #articlepic img {
	margin-top: 8px;
	margin-left: 8px;
}

.containerbg{
	height: 2500px;
	width: 1064px;
	background-image: url(../images/gonglue.jpg);
	background-repeat: repeat;
}
#Wrapper #container #main #topleft #sharebutton h4 {
	font-size: 16px;
}
