@charset "UTF-8";
/* CSS Document */

/*Basics*/
#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
}

#Wrapper #container {
	width: 1064px;
	font-family: "Comic Sans MS", cursive;
	height: auto;
	position: absolute;
	background-image: url(../images/hotelbg.jpg);
	background-repeat: repeat;
}


/*Main*/
#Wrapper #container #main {
	width: 1064px;
	height: auto;
	overflow: auto;
	background-image: url(../images/hotelbg.jpg);
	background-repeat: repeat;
}

/*Header*/
#Wrapper #container #main #header {
    background-color: rgba(255,255,255,1);	
    height: 130px;
	width: 1064px;
	position: absolute;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
    color: #d57c08;
	margin-left: 955px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	
	margin-left: 25px;
	position: absolute;
	
}

#Wrapper #container #main #header #searchbox {
	height: 40px;
	width: 215px;
	position: absolute;
	background-color: #FFCC00;
	margin-left: 300px;
}

#Wrapper #container #main #header #logotext{
	height: 48px;
	width: 220px;
	position: absolute;
	background-color: rgba(255,255,255,1);
	margin-top: 60px;
	margin-left: 442px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
    color: rgba(251,190,40,1);	
	padding-top: 21px;
}
/*change style for hotelscombined*/
#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 420px;
	position: absolute;
	margin-top: 70px;
	margin-left: -15px;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -30px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
    color: #d57c08;
	float: left;
	padding-right: 35px;
		
}
/*change style for hotelscombined*/
#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 430px;
	position: absolute;
	margin-top: 70px;
	margin-left: 652px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
    color: #d57c08;	
    margin-left: 35px;
}

#Wrapper #container #main #header ul li a{
	color: #d57c08;
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: #d57c08;
	text-decoration: none;	
}

.underline{
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #d57c08;
}

/*Topleftcontent*/

#Wrapper #container #main #topleft {
	height: auto;
	width: 525px;
	margin-top: 230px;
	margin-left: 45px;
	float: left;
	overflow: hidden;
	background-color: rgb(251,190,40);
}




/*Toprightcontent*/

#Wrapper #container #main #topright {
	width: 385px;
	height: 311px;
	margin-top: 440px;
	float: left;
	margin-left: 90px;
	overflow: hidden;
	background-image: url(../images/hotelgraphicduck.png);
	background-repeat: no-repeat;
}






#Wrapper #container #main #footertext{
	width: 1064px;
	height: 140px;
	position: absolute;
	font-size: 12px;
	color: #FFFFFF;
	background-image: url(../images/hotelbg.jpg);
	background-repeat: repeat;
	font-family: "Times New Roman", Times, serif;
}



#Wrapper #container #main #footertext #righttext{
	width: 420px;
	height: 108px;
	position: absolute;
	text-align: right;
	margin-left: 630px;
	font-size: 12px;
	margin-top: 30px;
}


.clear{
	clear: both;
}