@charset "UTF-8";
/* CSS Document */

/*Basics*/

body{
	background-color: #ffe; 
   
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);


background-size: 100% 1.2em;}

.silder_intro li a{
	color: #000000;
	margin: 0 6px;
}

#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
}

#Wrapper #container {
	width: 1064px;
	font-family: "Yuppy SC Regular";
	height: auto;
	position: absolute;
	background-image: url(../images/hotelbg.jpg);
	background-repeat: repeat;
}


/*Main*/
#Wrapper #container #main {
	width: 1064px;
	height: auto;
	overflow: auto;
	background-image: url(../images/hotelbg.jpg);
	background-repeat: repeat;
}

/*Header*/
#Wrapper #container #main #header {
    background-color: rgba(251,190,40,1);
    height: 130px;
	width: 1064px;
	position: absolute;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(0,0,0,1);
	margin-left: 955px;
	position: absolute;
	font-size: 16px;
	margin-top: 10px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	
	margin-left: 25px;
	position: absolute;
	margin-top:10px;
	
}

#Wrapper #container #main #header #searchbox {
	height: 40px;
	width: 215px;
	position: absolute;
	background-color: #FFCC00;
	margin-left: 300px;
	margin-top:10px;
}

#Wrapper #container #main #header #logotext{
	height: 48px;
	width: 220px;
	position: absolute;
	background-color: rgba(255,255,255,1);
	margin-top: 60px;
	margin-left: 442px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(0,0,0,1);
	padding-top: 21px;
	font-family: "Yuppy SC Regular";
}

#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 420px;
	position: absolute;
	margin-top: 65px;
	font-family: "Yuppy SC Regular";
	margin-left: -15px;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -30px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(0,0,0,1);
	float: left;
	padding-right: 35px;		
}

#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 430px;
	position: absolute;
	font-family: "Yuppy SC Regular";
	margin-top: 65px;
	margin-left: 652px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(0,0,0,1);
	margin-left: 35px;
}



/*Topleftcontent*/





/*Toprightcontent*/


#Wrapper #container #main #footertext{
	width: 1064px;
	height: 140px;
	position: absolute;
	font-size: 12px;
	color: #000000;
}



#Wrapper #container #main #footertext #righttext{
	width: 420px;
	height: 108px;
	position: absolute;
	text-align: right;
	margin-left: 630px;
	font-size: 12px;
	margin-top: 30px;
}


