@charset "UTF-8";
/* CSS Document */

/*Basics*/

body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS", cursive;
}

#container {
	position: absolute;
	height: 2320px; /*修改size*/
	width: 1064px;
	background-color: #f75959;
}
#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
}

/*Main*/
#Wrapper #container #main {
	background-color: rgba(255,255,255,1);
	margin: 20px;
	height: 2200px;
	width: 1024px;
	position: absolute;
}

/*Header*/
#Wrapper #container #main #header {
	background-color: #f75959;
	height: 130px;
	width: 1024px;
	position: absolute;
}

/*修改size*/
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(255,255,255,1);
	margin-left: 920px;
	position: absolute;
	font-size: 16px;
	font-family: "Comic Sans MS", cursive;

}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	
	margin-left: 20px;
	position: absolute;
	
}

#Wrapper #container #main #header #weixinbutton {
	height: 40px;
	width: 100px;
	
	margin-left: 140px;
	position: absolute;
	
}

#Wrapper #container #main #header #searchbox {
	height: 20px;
	width: 145px;
	position: absolute;
	margin-left: 180px;
	border: 2px dashed rgba(255,255,255,1);
}

#Wrapper #container #main #header #logotext{
	height: 70px;
	width: 228px;
	position: absolute;
	background-color: rgba(255,255,255,1);
	margin-top: 60px;
	margin-left: 400px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(245,90,88,1);
	padding-top: 21px;
	font-family: "Yuppy SC Regular";
}

/*nav修改size*/
#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 390px;
	position: absolute;
	margin-top: 85px;
	margin-left: 19px;
	font-family: "Comic Sans MS", cursive;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -10px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	float: left;
	padding-right: 33px;
		
}

/*修改size*/
#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 380px;
	position: absolute;
	font-family: "Comic Sans MS", cursive;
	margin-top: 85px;
	margin-left: 642px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	margin-left: 30px;
	margin-right: 12px;
}

#Wrapper #container #main #header ul li a{
	color: rgb(255,255,255);
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: rgb(255,255,255);
	text-decoration: none;	
}


/*Slider*/
#Wrapper #container #main #bigslider {
	height: 500px;
	width: 944px;
	position: absolute;
	margin-top: 160px;
	margin-left: 40px;
	border-bottom-width: medium;
	border-bottom-style: none;
	border-bottom-color: rgba(204,204,204,1);
}


/*Line1*/
#Wrapper #container #main #line1{
	width: 1200px;
	margin-top: 820px;
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: rgba(204,204,204,1);
	position: absolute;
	margin-left: 20px;
}

/*Topleftcontent*/

#Wrapper #container #main #topleft {
	height: 760px;
	width: 630px;
	position: absolute;
	margin-top: 680px;
	margin-left: 40px;

	border-right-width: medium;
	border-right-style: solid;
	border-right-color: rgba(204,204,204,1);
}

/*Topleftcontent-Slider*/
#Wrapper #container #main #topleft #recommendationtitle {
	height: 50px;
	width: 200px;
	position: absolute;
	font-size: 28px;
	color: rgba(255,255,255,1);
	text-align: center;
	z-index: 99999;
	word-spacing: 8px;
	vertical-align: bottom;
	padding-top: 0px;
	font-family: "Comic Sans MS", cursive;
	background-image: url(../images/recommbg.png);
}

#Wrapper #container #main #topleft #recommendationslider {
	height: 405px;
	width: 600px;
	position: absolute;
	margin-top: 32px;
	font-family: "Comic Sans MS", cursive;
}

/*Topleftcontent-Kuaixun*/
#Wrapper #container #main #topleft #kuaixuntitle {
	height: 40px;
	width: 590px;
	position: absolute;
	background-color: #e5e5e5;
	color: #f75959;
	text-align: left;
	margin-top: 465px;
	padding-left: 10px;
	vertical-align: middle;
	padding-top: 4px;
	font-family: "Comic Sans MS", cursive;
}

#Wrapper #container #main #topleft #kuaixuntitle h3 {
	color: #f75959;
	position: absolute;
	font-size: 24px;
	font-family: "Comic Sans MS", cursive;
}

#Wrapper #container #main #topleft #kuaixuntitle p {
	color: #f75959;
	position: absolute;
	margin-left: 550px;
	font-size: 12px;
	margin-top: 12px;
	font-family: "Comic Sans MS", cursive;
}
#Wrapper #container #main #topleft #kuaixuncontent {
	height: 240px;
	width: 600px;
	position: absolute;
	margin-top: 515px;
}

#Wrapper #container #main #topleft #kuaixuncontent #kuaixunlist {
	margin: 0px;
	padding: 0px;
	float: left;
}
#Wrapper #container #main #topleft #kuaixuncontent #kuaixunlist li {
	display: block;
	height: 28px;
	width: 300px;
	font-size: 16px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgb(204,204,204);
	padding-top: 5px;
	padding-left: 9px;
	font-family: "Comic Sans MS", cursive;
}


#Wrapper #container #main #topleft #kuaixunpic {
	height: 150px;
	width: 170px;
	position: absolute;
	margin-top: 610px;
	margin-left: 430px;
	background-repeat: no-repeat;
	background-image: url(../images/tree3.jpg);
}


/*Line2*/
#Wrapper #container #main #topleft #line2 {
	border-top-width: medium;
	border-top-style: dashed;
	border-top-color: rgba(204,204,204,1);
	width: 820px;
	position: absolute;
	margin-top: 555px;
}



/*Toprightcontent*/

#Wrapper #container #main #topright {
	height: 760px;
	width: 290px;
	margin-top: 680px;
	margin-left: 700px;
}


#Wrapper #container #main #topright #weibo1 {
	height: 350px;
	width: 275px;
	border-width: 4px;
	border-color: #f75959;
	border-style: dotted;
}

#Wrapper #container #main #topright #tuangoutitle {
	height: 40px;
	width: 273px;
	position: absolute;
	margin-top: 25px;
	font-size: 24px;
	color: #f75959;
	text-align: left;
	padding-left: 10px;
	background-color: #e5e5e5;
	font-family: "Comic Sans MS", cursive;
}


#Wrapper #container #main #topright #tuangoucontent {
	height: 327px;
	width: 283px;
	position: absolute;
	margin-top: 75px;
}

#Wrapper #container #main #topright #tuangoucontent #tuangoupic1 {
	height: 102px;
	width: 137px;
	background-color: #CC9900;
	position: absolute;
}

#Wrapper #container #main #topright #tuangoucontent #tuangoupic2 {
	height: 214px;
	width: 137px;
	margin-left: 146px;
	position: absolute;
	margin-top: 0px;
	background-color: #33CC66;
}

#Wrapper #container #main #topright #tuangoucontent #tuangoupic3 {
	height: 102px;
	width: 137px;
	margin-left: 0px;
	position: absolute;
	margin-top: 112px;
	background-color: #330066;
}

#Wrapper #container #main #topright #tuangoucontent #tuangoupic4 {
	height: 102px;
	width: 137px;
	margin-left: 0px;
	position: absolute;
	margin-top: 224px;
	background-color: #330066;
}


#Wrapper #container #main #topright #tuangoucontent #tuangoupic5 {
	height: 102px;
	width: 137px;
	margin-left: 146px;
	position: absolute;
	margin-top: 224px;
	background-color: #3366CC;
}





#Wrapper #container #main #line4 {
	border-top-width: medium;
	border-top-style: dashed;
	border-top-color: rgba(204,204,204,1);
	width: 312px;
	position: absolute;
	margin-top: 65px;
	
}
#Wrapper #container #main #line5 {
	border-top-width: medium;
	border-top-style: dashed;
	border-top-color: rgba(204,204,204,1);
	width: 312px;
	position: absolute;
	margin-top: 495px;

}





/*line3*/
#Wrapper #container #main #line3 {
	width: 944px;
	position: absolute;
	margin-top: 20px;
	background-color: white;
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: -ms-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	height: 8px;
	margin-left: 40px;
	color: rgba(153,153,153,1);
	text-align: center;
	vertical-align: middle;
	letter-spacing: 15px;
	padding-bottom: 5px;
	font-size: 12px;
}

/*middlebanner*/

#Wrapper #container #main #middlebanner {
	height: 91px;
	width: 944px;
	position: absolute;
	margin-top: 45px;
	margin-left: 40px;
	background-image: url(../images/middlebanner.jpg);
}

/*bottomleft*/

#Wrapper #container #main #bottomleft {
	height: 455px;
	width: 630px;
	position: absolute;
	margin-top: 155px;
	margin-left: 40px;
	border-right-width: medium;
	border-right-style: solid;
	border-right-color: rgba(204,204,204,1);
}

/*xinjiaodu*/
#Wrapper #container #main #bottomleft #xinjiaodutitle {
	height: 40px;
	width: 590px;
	position: absolute;
	background-color: #e5e5e5;
	color: #f75959;
	text-align: left;
	margin-top: 0px;
	padding-left: 10px;
	vertical-align: middle;
	padding-top: 5px;
	font-family: "Comic Sans MS", cursive;
}

#Wrapper #container #main #bottomleft #xinjiaodutitle h3 {
	color: #f75959;
	position: absolute;
	font-size: 24px;
}

#Wrapper #container #main #bottomleft #xinjiaodutitle p {
	color: #f75959;
	position: absolute;
	margin-left: 550px;
	font-size: 12px;
	margin-top: 12px;
}
#Wrapper #container #main #bottomleft #xinjiaodu1 {
	height: 200px;
	width: 600px;
	position: absolute;
	margin-top: 55px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

#Wrapper #container #main #bottomleft #xinjiaodu1 #pic1{
	height: 180px;
	width: 230px;
	position: absolute;
	background-color: #009966;
}

#Wrapper #container #main #bottomleft #xinjiaodu1 #text1{
	height: 180px;
	width: 350px;
	position: absolute;
	margin-left: 250px;
	color: #333333;
	line-height: 20px;
	margin-top: 4px;
	font-size: 12px;
	text-align: justify;
}
#Wrapper #container #main #bottomleft #xinjiaodu1 #text1 h4 {
	font-size: 24px;
	color: #f75959;

}

#Wrapper #container #main #bottomleft #xinjiaodu2 {
	height: 180px;
	width: 600px;
	position: absolute;
	margin-top: 275px;
}

#Wrapper #container #main #bottomleft #xinjiaodu2 #pic2{
	height: 180px;
	width: 230px;
	position: absolute;
	margin-top: 0px;
	background-color: #00CCFF;
}


#Wrapper #container #main #bottomleft #xinjiaodu2 #text2{
	height: 180px;
	width: 350px;
	position: absolute;
	margin-left: 250px;
	color: #333333;
	line-height: 20px;
	font-size: 12px;
	text-align: justify;
	margin-top: 4px;
}
#Wrapper #container #main #bottomleft #xinjiaodu2 #text2 h4 {
	font-size: 24px;
	color: #f75959;

}

.authorfont{font-family:"Times New Roman", Times, serif}

/*bottomright*/

#Wrapper #container #main #bottomright {
	height: 450px;
	width: 279px;
	margin-top: 155px;
	margin-left: 700px;
	border-width: 2px;
	border-color: #CCCCCC;
	border-style: dashed;
}

#Wrapper #container #main #bottomright #haoquchutitle{
	height: 40px;
	width: 200px;
	position: absolute;
	font-size: 24px;
	color: #666666;
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 68px;
	font-family: "Comic Sans MS", cursive;
}

#Wrapper #container #main #bottomright #haoquchucontent {
	height: 380px;
	width: 253px;
	position: absolute;
	margin-top: 55px;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-right: 15px;
}


#Wrapper #container #main #bottomright #haoquchucontent #haoquchupic1 {
	height: 120px;
	width: 124px;
	background-color: #CC9900;
	position: absolute;
}

#Wrapper #container #main #bottomright #haoquchucontent #haoquchupic2 {
	height: 250px;
	width: 124px;
	margin-left: 134px;
	position: absolute;
	margin-top: 0px;
	background-color: #FF0033;
}

#Wrapper #container #main #bottomright #haoquchucontent #haoquchupic3 {
	height: 120px;
	width: 124px;
	margin-left: 0px;
	position: absolute;
	margin-top: 130px;
	background-color: #00CCFF;
}

#Wrapper #container #main #bottomright #haoquchucontent #haoquchupic4 {
	height: 120px;
	width: 258px;
	margin-left: 0px;
	position: absolute;
	margin-top: 260px;
	background-color: #00CCFF;
}






/*bottomline*/
#Wrapper #container #main #bottomseparateline {
	width: 944px;
	position: absolute;
	margin-top: 20px;
	background-color: white;
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: -ms-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204,204,204,.5) 5px, rgba(204,204,204,.5) 7px);
	height: 8px;
	margin-left: 40px;
	padding-bottom: 5px;	
}

#Wrapper #container #main #footerpic{
	width: 1024px;
	height: 108px;
	position: absolute;
	margin-top: 50px;
	background-image: url(../images/footer.png);
}

#Wrapper #container #main #footertext{
	width: 1004px;
	height: 78px;
	position: absolute;
	margin-top: 170px;
	margin-left: 10px;
}

/*修改size*/
#Wrapper #container #main #footertext #leftadd{
	width: 220px;
	height: 78px;
	position: absolute;
	text-align: left;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 23px;
	font-family: "Times New Roman", Times, serif;
}

#Wrapper #container #main #footertext #brandlogo1{
	width: 60px;
	height: 30px;
	position: absolute;
	margin-left: 245px;
	margin-top: 45px;
}

#Wrapper #container #main #footertext #brandlogo2{
	width: 60px;
	height: 30px;
	position: absolute;
	margin-left: 335px;
	margin-top: 45px;
}

#Wrapper #container #main #footertext #brandlogo3{
	width: 60px;
	height: 30px;
	position: absolute;
	margin-left: 425px;
	margin-top: 30px;
}

#Wrapper #container #main #footertext #brandlogo4{
	width: 60px;
	height: 30px;
	position: absolute;
	margin-left: 515px;
	margin-top: 52px;
}

#Wrapper #container #main #footertext #righttext{
	width: 400px;
	height: 78px;
	position: absolute;
	text-align: right;
	color: #FFFFFF;
	margin-left: 605px;
	font-size: 12px;
	line-height: 23px;
	font-family: "Times New Roman", Times, serif;
}

