@import url("css.css");
/*
	Totem Ticker Stylesheet
	Zach Dunn / Build Internet (buildinternet.com)
	Winter 2011
*/





#wrapper2{
	width: 370px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
}

	p{color:#fff; padding:10px 0; text-align:center;}
		.nav{}
	
	#wrapper2 a, #footer a{color:#e8914c; text-decoration:none; border-bottom:1px dotted #e8914c;}
		#wrapper2 a:hover, #footer a:hover{color:#eab209; border-bottom:1px dotted #eab209;}



/*

	This is the only semi-important stuff for plugin installation
	It's just an example, so customize away!
*/

#vertical-ticker{
	height: 240px;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	
}

	#vertical-ticker li{
	display: block;
	color: #666;
	border-bottom: 1px solid #ddd;
	text-align: left;
	font-size: 16px;
	padding-top: 13px;
	padding-right: 20px;
	padding-bottom: 14px;
	padding-left: 10px;
	background-color: #FFFFFF;
	font-family: 雅痞-简;
	}@import url("css.css");
/*
	Totem Ticker Stylesheet
	Zach Dunn / Build Internet (buildinternet.com)
	Winter 2011
*/





#wrapper2{
	width: 370px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
}

	p{color:#fff; padding:10px 0; text-align:center;}
		.nav{}
	
	#wrapper2 a, #footer a{color:#e8914c; text-decoration:none; border-bottom:1px dotted #e8914c;}
		#wrapper2 a:hover, #footer a:hover{color:#eab209; border-bottom:1px dotted #eab209;}



/*

	This is the only semi-important stuff for plugin installation
	It's just an example, so customize away!
*/

#vertical-ticker{
	height: 240px;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	
}

	#vertical-ticker li{
	display: block;
	color: #666;
	border-bottom: 1px solid #ddd;
	text-align: left;
	font-size: 16px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 10px;
	background-color: #FFFFFF;
	font-family: 雅痞-简;
	}