@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
* {
	margin:0;
	padding:0;
}
a, img {
	border:0;
}
ul, li {
	list-style:none;
}

.lanrenzhijia {
	width:310px;
}
.box {
	float: left;
	width: 136px;
	height: 108px;
	border: 0px solid white;
	position: relative;
	display: inline;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.box a {
	display:block;
	width:136px;
	height:108px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	z-index:9;
}
.boxBor {
	position:absolute;
	left:0;
	top:0;
	display:none;
	border:1px solid white;
	z-index:4;
	background:#fff;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
	background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
	background:-o-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
	background:-ms-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */
