@charset "UTF-8";
/* CSS Document */

/*Basics*/
body,div,hr,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset,legend{margin:0;padding:0}

p {margin:0; padding:0;}

#Wrapper {
	margin: auto;
	width: 1064px;
	position: relative;
	background-color: #f75959;
}

#Wrapper #container {
	background-color: #f75959;
	font-family: "Yuppy SC Regular";
	width: 1064px;
	height: auto;
	position: absolute;
}

/*Main*/
#Wrapper #container #main {
	width: 1024px;
	height: auto;
	background-color: rgb(255,255,255);
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}

/*Header*/
#Wrapper #container #main #header {
	background-color: #f75959;
	height: 130px;
	width: 1024px;
	position: absolute;
}
#Wrapper #container #main #header #login {
	height: 40px;
	width: 100px;
	color: rgba(255,255,255,1);
	margin-left: 925px;
	position: absolute;
	font-size: 16px;
}

#Wrapper #container #main #header #weibobutton {
	height: 40px;
	width: 100px;
	z-index: 999;
	margin-left: 20px;
	position: absolute;
}

#Wrapper #container #main #header #searchbox {
	height: 20px;
	width: 145px;
	position: absolute;
	margin-left: 180px;
	border: 2px dashed rgba(255,255,255,1);
}

#Wrapper #container #main #header #logotext{
	height: 70px;
	width: 220px;
	position: absolute;
	margin-top: 55px;
	margin-left: 402px;
	font-size: 32px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(255,255,255,1);
	padding-top: 21px;
	font-family: "Yuppy SC Regular";
}

#Wrapper #container #main #header #logotext a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
/*nav*/

/*nav修改size*/
#Wrapper #container #main #header #nav1 {
	height: 50px;
	width: 390px;
	position: absolute;
	margin-top: 85px;
	margin-left: 19px;
	font-family: "Yuppy SC Regular";
	z-index: 10;
}
#Wrapper #container #main #header #nav1 ul {
	float: left;
	padding-left: -10px;
}
#Wrapper #container #main #header #nav1 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	float: left;
	padding-right: 33px;
}

/*修改size*/
#Wrapper #container #main #header #nav2{
	height: 50px;
	width: 380px;
	position: absolute;
	font-family: "Yuppy SC Regular";
	margin-top: 85px;
	margin-left: 642px;
}
#Wrapper #container #main #header #nav2 ul {
	float: left;
}
#Wrapper #container #main #header #nav2 ul li {
	display: inline;
	font-size: 24px;
	color: rgba(255,255,255,1);
	margin-left: 30px;
	margin-right: 12px;
}

#Wrapper #container #main #header ul li a{
	color: rgb(255,255,255);
	text-decoration: none;
}

#Wrapper #container #main #header ul li a:hover{
	color: rgb(255,255,255);
	text-decoration: none;	
}

#Wrapper #container #main #header .whitebg {
	background-color: rgb(255,255,255);
	height: 60px;
	width: 85px;
	position: absolute;
	margin-top: 75px;
	z-index: 1;
	margin-left: 160px;
}

/*Topleftcontent*/

#Wrapper #container #main #maincontent {
	width: 965px;
	margin-top: 160px;
	margin-left: 40px;
	height: auto;
	overflow: hidden;
	background-color: rgb(255,255,255);
	float: left;
}



#Wrapper #container #main #maincontent #tuangoutitle {
	height: 40px;
	width: 600px;
	position: absolute;
}

#Wrapper #container #main #maincontent #tuangoutitle h1 {
	vertical-align: middle;
	font-size: 24px;
	color: rgb(51,51,51);
	font-weight: bold;
}


#Wrapper #container #main #maincontent #picblock {
	width: 965px;
	margin-top: 55px;
	overflow: hidden;
	overflow-x: hidden;
	height: auto;
	background-color: rgb(255,255,255);
	position: relative;
}




#Wrapper #container #main #footer {
	width: 1024px;
    background-color: #f75959;
	margin-top: 40px;
	height: 220px;
}



#Wrapper #container #main #footer #footerpic{
	width: 1024px;
	height: 108px;
	position: absolute;
	background-image: url(../images/footer.png);
}

#Wrapper #container #main #footer #footertext{
	width: 1004px;
	height: 78px;
	position: absolute;
	margin-left: 10px;
	color: rgb(0,0,0);
}

#Wrapper #container #main #footer #footertext #leftadd{
	width: 220px;
	height: 78px;
	position: absolute;
	text-align: left;
	color: #FFFFFF;
	margin-top: 135px;
	line-height: 23px;
	font-size: 12px;
}

#Wrapper #container #main #footer #footertext #brandlogo1{
	width: 60px;
	height: 35px;
	position: absolute;
	margin-left: 245px;
    margin-top: 178px;
}

#Wrapper #container #main #footer #footertext #brandlogo2{
	width: 60px;
	height: 35px;
	position: absolute;
	margin-left: 335px;
	margin-top: 178px;
}


#Wrapper #container #main #footer #footertext #brandlogo3{
	width: 60px;
	height: 35px;
	position: absolute;
	margin-left: 425px;
	margin-top: 163px;
}


#Wrapper #container #main #footer #footertext #brandlogo4{
	width: 60px;
	height: 28px;
	position: absolute;
	margin-left: 515px;
	margin-top: 187px;
}

#Wrapper #container #main #footer #footertext #righttext{
	width: 400px;
	height: 78px;
	position: absolute;
	text-align: right;
	color: #FFFFFF;
	margin-left: 605px;
	margin-top: 135px;
	line-height: 23px;
	font-size: 12px;
}

.clear{
	clear: both;
}

.piclist{
	float: left;
	width: 300px;
	height: 300px;
	position: relative;
	display: inline;
	margin-top: 10px;
	margin-right: 21px;
	margin-bottom: 10px;
	-moz-border-radius: 10px 10px / 10px 10px;
	border-radius: 10px 10px / 10px 10px;
}

.topline{
	background-color: rgb(204,204,204);
	display: inline;
	height: 2px;
	width: 300px;
	float: left;
	margin-right: 21px;
	margin-top: 42px;
}

.countdownbox{
	float: left;
	width: 300px;
	height: 50px;
	position: relative;
	display: inline;
	margin-right: 21px;
	background-color: rgba(123,190,196,1);
	margin-bottom: 270px;
	z-index: 99;
	-moz-box-shadow: -5px -5px 5px #888;
   -webkit-box-shadow: -5px -5px 5px #888;
   box-shadow: -5px -5px 5px #888;
   -moz-border-radius: 10px 10px / 10px 10px;
	border-radius: 10px 10px / 10px 10px;
	}

#countdownwrap{
	margin-top: -950px;
	position: absolute;
}

.infobox{
	float: left;
	width: 300px;
	height: 50px;
	position: relative;
	display: inline;
	margin-right: 21px;
	background-color: rgba(80,80,80,1);
	margin-bottom: 270px;
	z-index: 999999;
	color: rgba(255,255,255,1);
	font-size: 14px;
	}

#tuangouinfo{
	margin-top: -700px;
	position: absolute;}

.h1color{
	color: rgb(123,190,196);
	}


#ribbonwrap{
	margin-top: -700px;
	position: absolute;
}

.ribbon
{
	position: relative;
	width: 50px;
	background-color: rgb(237,124,108);
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
	margin-top: -20px;
	margin-left: 10px;
	height: 45px;
	float: left;
	position: relative;
	display: inline;
	margin-right: 261px;
	margin-bottom: 295px;
	z-index: 9999999;
	color: rgba(255,255,255,1);
	font-size: 14px;
}

.ribbon:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -10px;
	top: 0px;
	border-top-width: 10px;
	border-right-width: 5px;
	border-bottom-width: 10px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: transparent;
	border-right-color: rgb(129,37,40);
	border-bottom-color: rgb(129,37,40);
	border-left-color: transparent;
}

.ribbon:before
{
	content: ' ';
	position: absolute;
	width: 2px;
	height: 0;
	top: 45px;
	border-top-width: 5px;
	border-right-width: 24px;
	border-bottom-width: 12px;
	border-left-width: 24px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(234,122,106);
	border-right-color: rgb(234,122,106);
	border-bottom-color: transparent;
	border-left-color: rgb(234,122,106);	
}
.ribbon h3 {
	font-size: 18px;
	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
	padding-top: 16px;
}
.infobox h2 {
	margin-left: 75px;
	font-size: 16px;
	margin-top: 5px;
}
.infobox p {
	margin-top: -7px;
	margin-left: 77px;
	font-size: 12px;
}

.infoboxpcolor{
	color:rgb(237,124,108);
	}
#Wrapper #container #main #maincontent #tuangouinfo .infobox h2 a {
	color: rgb(255,255,255);
	text-decoration: none;
}
#Wrapper #container #main #maincontent #tuangouinfo .infobox p .arrowcolor a {
	color: rgb(108,197,186);
	text-decoration: none;
}
#Wrapper #container #main #maincontent #picblock .piclist img {
	padding-top: 30px;
	height: 270px;
	width: 300px;
}

#Wrapper #container #main #maincontent #tuangouinfo .infobox p .arrowcolor a:hover {
	color: rgb(108,197,186);
	text-decoration: underline;
}
	
#Wrapper #container #main #maincontent #tuangouinfo .infobox h2 a:hover {
	color: rgb(255,255,255);
	text-decoration: underline;
}
	
.arrowcolor{
	color: rgb(108,197,186);
	font-size: 20px;
	font-weight: bold;
}


/*pagination style*/

#Wrapper #container #main #pagenumber {
	width: 150px;
	margin-top: 10px;
	height: 50px;
	margin-left: 30px;
	position: absolute;
}

DIV.scott {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
	font-size: 18px;
}
DIV.scott A {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	COLOR: rgb(102,191,127);
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none;
	border: 1px solid #FFF;
}
DIV.scott A:hover {
	COLOR: rgb(51,51,51);
	border: 1px solid rgb(255,255,255);
	background-color: rgba(204,204,204,.5);
}
DIV.scott A:active {
	COLOR: rgb(51,51,51);
	border: 1px solid rgb(255,255,255);
	background-color: rgba(204,204,204,.5);
}
DIV.scott SPAN.current {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	COLOR: #333;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	border: 0px solid #b2e05d;
	background-color: rgba(204,204,204,.5);
}
DIV.scott SPAN.disabled {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	COLOR: #ccc;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	border: 0px solid #f3f3f3;
}



