/* http://www.menucool.com */

/*slider frame*/
#sliderFrame 
{
	width: 560px; /*this makes the image slider center-aligned. Remove this line if you want to align the whole slider to the left side*/
	padding: 20px;
	height: 365px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	/*background-image: url(../images/xiaobiantuijianbg.png);*/
} 

#slider {
	width: 380px;
	height: 306px;/* Make it the same size as your images */
	/*background: black url(loading.gif) no-repeat 50% 50%;*/
	position: relative;/*make the image slider center-aligned */
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0px;
}
#slider img, #slider>b, #slider a>b{
	position:absolute;
	border:none;
	display:none;
}
#slider>a {display:none;}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position: absolute;
	width: 140px;
	height: 280px;
	padding: 10px;
	left: 413px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	top: 90px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index: 3;
	overflow: hidden;
	font-size: 0;
}
div.mc-caption-bg {
	background:transparent; /*Caption background color. Can be set to "background:transparent;", or set to semi-transparent through the sliderOptions.captionOpacity setting in the javascript.*/
}
div.mc-caption-bg2 {
    background:none;
}
div.mc-caption {
	color: #333;
	z-index: 4;
	text-align: justify;
	background: none;
	font-family: Arial;
	font-size: 12px;
	line-height: 20px;
	font-family: "Comic Sans MS", cursive;
}
div.mc-caption a { 
	color:#66FFFF;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
div.navBulletsWrapper  {
	display:none;
}


/*thumbnails*/
#thumbs 
{
	margin-top: 20px;
	text-align: center;
	font-size: 0;
	margin-left: -162px;
	padding-right: 5px;
}
#thumbs .thumb 
{
	display: inline-block;
    *display:inline;				zoom: 1;/*this determins the distance between each thumbnail*/
	border: 1px solid #FFF;
	padding: 2px;
	background-color: rgb(255,255,255);
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 1px;
}

#thumbs .thumb img{
	border: 0px solid #555;
	cursor: pointer;
	width: 92px;
	height: 55px;
	opacity: 0.5;
filter:alpha(opacity:50);}
#thumbs .thumb-on img{
	border: 0px solid #999;
	opacity: 1;
filter:alpha(opacity:100);}

/* --------- Others ------- */
#slider 
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

.loading 
{
	width: 100%;
	height: 100%;
	filter: alpha(opacity=60);
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	background-color: transparent;
	/*background-image: url(../images/loading.gif);*/
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.xiaobiantitle{
	font-size: 24px;
	font-weight: bold;
	color: rgb(51,51,51);
	margin-left: 9px;
	position: absolute;
	font-family: "Comic Sans MS", cursive;

}


#Wrapper #container #main #topleft #recommendationslider #sliderFrame a {
	font-size: 18px;
	color: rgb(51,51,51);
	text-decoration: none;
	margin-left: 36px;
	position: absolute;
	margin-top: 23px;
	font-family: "Comic Sans MS", cursive;

}
